.container {
padding-left: 20px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
}

h1 {
    margin: 0;
    color: white;
    font-weight: lighter; 
    width: auto;
    height: auto;
    text-align: center;
    }

p {
    color: white;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 40px;
}
    
label {
    color: white;
}

input {
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    height: auto;
}
